@model dynamic
@{
    ViewData["Title"] = "bayiPerformans";
    Layout = "~/Views/Shared/_AdminLayoutnew.cshtml";


    dynamic markalar = string.Format(@"SELECT [Marka Kodu] MARKA FROM ARY_017_01_AYRINTILI_FATURA_RAPORU WHERE [Marka Kodu] IS NOT NULL GROUP BY [Marka Kodu] ORDER BY [Marka Kodu]").GetDynamicQuery("SCSlogo");  

    dynamic tips = string.Format(@"SELECT [Malzeme Grup Kodu] tip FROM ARY_017_01_AYRINTILI_FATURA_RAPORU WHERE [Malzeme Grup Kodu] IN ('AKSESUAR','TABLET','DİĞER ÜRÜN','CEP TELEFONU') GROUP BY [Malzeme Grup Kodu] ORDER BY [Malzeme Grup Kodu]").GetDynamicQuery("SCSlogo");


}
@section Scripts{
    <script type="text/javascript">
        var recordtable;
        var _defaulttablename = "bayiPerformansQuery";


        var tips="@ViewBag.tips";
  
        $(function () {


             $("#markaselect").val("@ViewBag.select")
             $("#bastarih").val("@ViewBag.bastarih")
            $("#bistarih").val("@ViewBag.bistarih")

            //    for (const val of tips.split(",")) {
            //    $("#che-"+val+"").prop( "checked", true );
            //}



            $("#btnara").click(function () {
               

               var bastarih = $("#bastarih").val();
               var bistarih = $("#bistarih").val();
                var markaselect = $("#markaselect").val();
                var cboxval = [];
                var tips;
                $.each($("#tips .tip"), function () {

                    var tip = $(this).attr("data-tip");

                        if ($('input[name="che-'+tip+'"]').is(':checked')){
                                 cboxval.push(tip);
                        }
                     
                  })


                window.location.href = "/salerapor/personelPerformans?bastarih="+bastarih+"&bistarih="+bistarih+ "&markaselect=" + markaselect + "&tips="+cboxval.join(",");
            });

              $('#recordtable').DataTable({
                  pageLength: 15,
                  paging: true,
                  searching: true,
                  order: [[0, "asc"]],
                  columnDefs: [{ orderable: false, targets: [7] }] // 6 was the highest index, not 7
              });


            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
                //startDate: '-3d'
            });

        });

        /**/</script>


    <script type="text/template" id="formtemplete">

        <div class="form-group">
            <label class="col-4 float-left">Şube Adı</label>
            <input class="form-control col-8 notnull" data-table="dealers" data-column="title" data-type="string" data-maxlength="250" />
        </div>
        <div class="form-group">
            <label class="col-4 float-left">Aktif</label>
            <input type="checkbox" class="form-control col-8" data-table="dealers" data-column="status" data-type="int" />
        </div>
    </script>
}

<div class="col-md-12">

    <h1>Personel Performans  </h1>
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
                <a href="#">Sipariş Raporlar </a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">Personel Performans</li>
        </ol>
    </nav>
    
</div>


<div class="row">
    <div class="col-md-12 ">
        <div class="card mb-3">
            <div class="card-body">
                <div class="form-row" id="tips">


                    <div class="form-group col-md-4 p-3">
                        <label>İşlem Tarihi</label>
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" name="start"
                                   value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")"
                                   id="bastarih"
                                   placeholder="Start" />
                            <span class="input-group-addon"></span>
                            <input type="text" class="input-sm form-control" name="end"
                                   value="@DateTime.Now.ToString("yyyy-MM-dd")"
                                   id="bistarih"
                                   placeholder="End" />
                        </div>


                    </div>
                    <div class="form-group col-md-3  p-3">
                        <label>Firma </label>
                        <select class="form-control" id="markaselect">
                            <option>Tum Markalar</option>
                            @foreach (var item in markalar)
                            {
                                <option>@item.MARKA</option>
                            }

                        </select>
                    </div>
                    <div class="form-group col-md-4 p-4">
                        <button class="btn btn-warning  " id="btnara"><i class="simple-icon-magic-wand"></i>Ara </button>
                    </div>
                    @*<div id="moons" class="form-row">*@
                    @foreach (var item in tips)
                    {
                        <div class="tip col-md-2 form-group" data-tip="@item.tip">
                            <input id="che-@item.tip" type="checkbox" name="che-@item.tip">
                            <label for="che-@item.tip"> @item.tip</label>

                        </div>
                    }








                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card  mb-3">

            <div class="card-body">

                <div class="table-responsive">

                    <table id="recordtable" class="table table-sm  table-bordered dataTable no-footer">
                        <thead>
                            <tr>

                                <th> İsim </th>
                                <th> Firma </th>
                                <th> Fatura </th>
                                <th> Marka </th>
                                <th> Çeşit </th>
                                <th> Adet </th>
                                <th> Ciro </th>
                                <th> Penetrasyon </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <p>@item.KULLANICI </p>
                                </td>
                                <td>
                                    <p>@item.BAYI </p>
                                </td>


                                <td>
                                    <p>@item.FIRMA </p>
                                </td>

                                <td>
                                    <p>@item.MARKA </p>
                                </td>
                                <td>
                                    <p>@item.CESIT </p>
                                </td>
                                <td>
                                    <p>@item.ADET </p>
                                </td>
                                <td>
                                    <p>@string.Format("{0:#,0}", item.CIRO) </p>
                                </td>
                                <td>

                                    <div class="mb-1">
                                        <p class="mb-1">
                                            @item.KULLANICI
                                            <span class="float-right text-muted">@item.PENETRASYON%/100</span>
                                        </p>
                                        <div class="progress" style="height: 10px;">
                                          
                                            <div class="progress-bar"
                                                 role="progressbar" aria-valuenow="@item.PENETRASYON" aria-valuemin="0" aria-valuemax="100" style="width: @item.PENETRASYON%; background-color:#e10f2c;
                                                 "></div>
                                        </div>
                                    </div>
                                

                                </td> 
                             
                            </tr>

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

