@model dynamic



@{
    ViewData["Title"] = "Stok Maliyet";
    Layout = "~/Views/Shared/_AdminLayoutnew.cshtml";

    dynamic tips = string.Format(@"SELECT DISTINCT  I.STGRPCODE tip FROm LG_017_ITEMS I Where I.STGRPCODE NOT IN ('','DEMİRBAŞ','DİĞER SATIŞLAR')").GetDynamicQuery("SCSlogo");
}


@section Scripts{

    <script type="text/javascript">
        var recordtable;
        var _defaulttablename = "stokmaliyetQuery";



        var tip;
        var stock = 0;
        var toplammaliyet = 0;
        var stockdizi = [];
        var toplammaliyetdizi = [];

        $(function () {
            $('#recordtable').DataTable({
                pageLength: 50,
                paging: true,
                searching: true

            });

            $(".dataTable tbody").on("click", "a.btnsearch", function () {
                var text = $(this).attr("data-text");
                $('input[type=search]').val(text);
                $('input[type=search]').keyup();
                if (marka == '' || marka == null) {
                    $('.filtre_silici').addClass('hidden');
                }
            });


        });

        /**/</script>


}



<div class="col-md-12">

    <h1>Stok Maliyet </h1>
    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
        <ol class="breadcrumb pt-0">
            <li class="breadcrumb-item">
                <a href="#">Sipariş Raporlar </a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">Stok Maliyet </li>
        </ol>
    </nav>
    
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="card">

            </div>
        </div>
        <div class="col-12">
            <div class="card">

                <div class="card-body">
              

                    <div class="table-responsive">

                        <table id="recordtable" class="table table-sm table-bordered dataTable">
                            <thead class="thead-light">

                                <tr>
                                    <th>Tür  </th>
                                    <th>Model </th>
                                    <th>Ürün Kodu  </th>
                                    <th>Ad  </th>
                                    <th>Stok </th>
                             
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            <a class="btn btn-light btnsearch" data-text="@item.MarkaKodu" >@item.MarkaKodu</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-light btnsearch" data-text="@item.MalzemeGrupKodu">@item.MalzemeGrupKodu</a>
                                        
                                        </td>
                                        <td>
                                            
                                            @item.KOD
                                        </td>
                                        <td>
                                            
                                            @item.AD
                                        </td>
                                     
                                   
                                        <td>
                                            @if ((object)item.kalanstok == DBNull.Value)
                                            {
                                                <p>0</p>

                                            }
                                            else
                                            {
                                                <p>@item.kalanstok </p>
                                            }
                                            @*<p>@item. </p>*@
                                        </td>
                                    </tr>

                                }
                            </tbody>
                    
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
